footer {
  background-image: url(../img/footer.png);
  height: 667px;
  background-position: center;
  background-size: cover;
}
.footer__block {
  max-width: 1400px;
  display: flex;
  justify-content: space-evenly;
  padding-left: 69px;
  padding-right: 69px;
  padding-top: 200px;
}
.footer__top {
  margin-top: -36px;
}
.footer__text-top {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.footer__menu {
  padding-left: 89px;
}
.menu-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #ffffff;
}
.menu__chapter {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  margin-top: 17px;
}
.block-contacts {
  min-width: 280px;
  margin-left: 162px;
}
.footer__text-address {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 13px;
}
.map {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #ffffff;
  margin-top: 14px;
}
.contact__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
  margin-top: 18px;
}
.email {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
  margin-top: 10px;
}
.footer__contacts {
  max-width: 152px;
  display: flex;
  margin-top: 11px;
  justify-content: space-around;
}
.block-callback {
  padding-top: 30px;
  padding-left: 74px;
}
.telephone {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
}
.callback__number1 {
  font-family: "Kudryashev Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  display: block;
  padding-top: 17px;
}
.callback-menu__call {
  display: block;
  padding-top: 22px;
}
.footer__end {
  display: flex;
  flex-direction: column;
  margin-top: 125px;
}
.chapter {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: underline;
  color: #dcd5ce;
}
.protection {
  text-decoration-line: none;
}
