* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

@import url(fonts/stylesheet.css);

a {
  text-decoration: none;
}
a:link {
  color: #ffffff;
}
a:hover {
  color: #000000;
}
a:active {
  color: #b68c6e;
}
ul {
  list-style-type: none;
}
.center {
  padding-left: calc(50% - 700px);
  padding-right: calc(50% - 700px);
}
